<div class="container">
    <table class="table table-bordered table-inverse">
      <tr>
        <th>Product Name</th>
        <th>Description</th>
        <th class="text-right">Purchase Price</th>
      </tr>
      <tr *ngFor="let product of products">
        <td>
          <a [routerLink]="['/admin/view', product.id]">{{product.name}}</a>
        </td>
        <td>
          {{product.description}}
        </td>
        <td class="text-right">
          {{product.price}}
        </td>
      </tr>
    </table>
  </div>
